body{
    font-family: 'Lexend Mega', sans-serif;
    white-space: nowrap;
    width:100%;
    height: 1100px;
}

::-webkit-scrollbar-track {
    background-color: rgba(200, 200, 200, 0.5);
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px 10px 10px 10px;
}
::-webkit-scrollbar {
    width: 6px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px 10px 10px 10px;
    background: rgba(0, 0, 0, 0.5);
}

body div{
    text-align: left;
    position: absolute;
    left: 10%;
    padding: 2%;
}

body div li{
    margin-bottom:10px;
}

div button{
    width: 90%;
    display: block;
    outline: none;
    border: 0;
    background: transparent;
}

input{
    text-transform: uppercase;
    padding: 0.5%;
    margin:0.5%;
    width: 100%;
    outline: 0;
    border: 0;
    background: transparent;
    font-family: 'Lexend Mega', sans-serif;
}

#femail{
    text-transform: lowercase;
}

#universidade,#empresa,#curso,#fname{
    font-size: 16px;
    font-weight: bold;
}

#fname{
    width:520px;
    font-size: 20px;
}

#baixar{
    left: 13%;
    bottom: -12%;
    position: absolute;
    border-radius: 15px;
    border: 1 px solid black;
    outline: none;
    background: transparent;
    font-weight: 700;
    display: block;
    padding: 0.3%;
}